* {
  text-decoration: none;
  list-style-type: none;
}
.App {
  text-align: center;
}
.soft {
  display: flex;
  justify-content: space-around;
  background: linear-gradient(skyblue, white, deepskyblue);
}
.soft ul {
  display: flex;
  gap: 2rem;
  font-size: 20px;
}

.images {
  width: 15rem;
  height: 17rem;
}

.innerdata {
  margin-left: 1rem;
  display: grid;
  justify-content: space-evenly;
  grid-template-columns: repeat(4, 1fr);
  place-content: center;
  place-items: center;
  padding-top: 3rem;
}
.innerdatas {
  padding: 1rem;
  margin: 1rem 0;
}
.innerdatas h2{
  color: black;
}
.details {
  font-size: 4rem;
  font-family: "Lobster", cursive;
  text-decoration: underline;

}
.details span {
  color: blue;
}
.shop span {
  color: blue;
}
.link li:hover {
  font-size: 22px;
  text-decoration: underline;
}
#cart {
  width: 8rem;
  padding: 8px;
  background-color: blue;
  color: white;
  border-radius: 5px;
  border: none;
  font-size: 13px;
}
#cart:hover {
  width: 8rem;
  padding: 8px;
  background-color: deepskyblue;
  color: white;
  border-radius: 5px;
  border: none;
  font-size: 14px;
}
#rp {
  display: flex;
  justify-content: space-around;
}
#hh {
  padding-top: 6px;
  color: skyblue;
}
.images:hover {
  width: 16rem;
  height: 18rem;
}
#maq {
  display: flex;
}
#jc {
  font-family: "Lobster", cursive;
  font-size: 33px;
  text-decoration: underline;
}
#jc span {
  color: blue;
}
#single {
  width: 16rem;
  height: 18rem;
 
  
}
#des {
  padding: 1rem 5rem 0 5rem;
  font-size: 16px;
}
#sp {
  margin-top: 3rem;
}
#bpp {
  margin-top: 1rem;
  width: 14rem;
  padding: 8px;
  background-color: blue;
  color: white;
  border-radius: 4px;
  border: none;
}
#bpp:hover {
  width: 14rem;
  padding: 8px;
  background-color: deepskyblue;
  color: white;
  border-radius: 4px;
  border: none;
}
#tit{
  font-size: 29px;
  font-family: "Lobster", cursive;
}
#cart-btn{
  padding: 8px;
  background-color: blue;
  color: white;
  border-radius: 4px;
  border: none;
  display: flex;
  margin-left: 37rem;
}
#cart-btn:hover{
  padding: 8px;
  background-color: deepskyblue;
  color: white;
  border-radius: 4px;
  border: none;
  margin-left: 37rem;
  
}
.cart-items-add{
  width: 2rem;
  padding: 9px;
  background-color: deepskyblue;
  border-radius: 3px;
  border: none;
  font-size: 25px;
}
.cart-items-remove{
  width: 2rem;
  padding: 9px;
  margin-left: 10px;
  background-color: deepskyblue;
  border-radius: 3px;
  border: none;
  font-size: 25px;

}
.cart-items-total-price-name{
  font-size: 30px;
  margin-top: 1rem;
  
}
#clear{
  border: none;
}
.cart-items-price{
  font-size: 22px;
}
#footer{
  background:linear-gradient(skyblue, white, deepskyblue) ;
}
@media(max-width:468px) {
  /* *{
    overflow-x: hidden;
  } */
  .innerdata {
  margin-left: 1rem;
  display: grid;
  justify-content: space-evenly;
  grid-template-columns: repeat(1, 1fr);
  place-content: center;
  place-items: center;
  padding-top: 3rem;
}
.details {
  font-size: 2.5rem;
  font-family: "Lobster", cursive;
  text-decoration: underline;

}
.details span {
  color: blue;
}
#bpp {
  margin-top: 1rem;
  width: 14rem;
  padding: 8px;
  background-color: blue;
  color: white;
  border-radius: 4px;
  border: none;
  
}
#bpp:hover {
  width: 14rem;
  padding: 8px;
  background-color: deepskyblue;
  color: white;
  border-radius: 4px;
  border: none;
}
#cart {
  width: 8rem;
  padding: 12px;
  background-color: blue;
  color: white;
  border-radius: 5px;
  border: none;
  font-size: 16px;
}
#cart:hover {
  width: 8rem;
  padding: 12px;
  background-color: deepskyblue;
  color: white;
  border-radius: 5px;
  border: none;
  font-size: 16px;
}
.soft {
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  background: linear-gradient(skyblue, white, deepskyblue);
}
.soft ul {
  display: flex;
  flex-direction: column;
  margin-right: 2rem;
  gap: 2rem;
  font-size: 20px;
}
#log{
  width: 8rem;
  margin-left: 6rem;
}
#footer{
  margin-top: 2rem;
  
}


  
}

